.header {
    margin: 0 auto;
    text-align: center;
    height: 88px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
.menu-list {
    padding: 32px 0px;
   color: black;
   font-size: 18px;
   font-weight: 400;
   margin: 0px;
}
.list-item {
    display: inline-block;
    padding-right: 72px;
}
.list-item.no-padding {
        padding-right: 0px;
}

.image {
   height: 552px;
background: #00bdc9;
padding: 92px 400px;
text-align: center;
}
.image img {
    width: 599px;
height: 368px;
}
.main {
    margin-bottom: 3px;
}
.content {
    padding: 88px 0px;
width: 856px;
margin: 0 auto;
}
.title {
    font-weight: 600;
font-size: 48px;
color: #000;
text-align: center;
}
.text {
    padding: 40px 0px;
width: 856px;
}
p {
    font-weight: 500;
font-size: 21px;
color: #161616;
margin-bottom: 24px;
}
.list {
    font-weight: 400;
font-size: 18px;
color: #161616;
margin-left: 20px;
}
.button-text {
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    background: #04959e;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.button {
    text-align: center;
}
.footer {
    height: 60px;
}
.line {
    border-top: 1px solid #161616;
    margin-bottom: 1px;
}
.footer-text {
    padding: 16px 0px;
    height: 59px;
    text-align: center;
}
.footer-text p {
    font-weight: 400;
font-size: 18px;
color: #161616;
}
.list-item a {
    text-decoration: none;
    color: #000;
}



